.recipes-container {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 20px;
}
