.full-recipe {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding-top: 30px;
}
.full-recipe img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.full-recipe h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #f0d43a;
  text-shadow: 1px 1px 3px black;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.full-recipe h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #3b4a6b;
  text-shadow: 1px 1px 3px white;
}
.full-recipe h2 .title-icon {
  margin-right: 10px;
  margin-left: 10px;
  color: #f0d43a;
  text-shadow: 1px 1px 3px black;
}
.full-recipe p {
  text-align: center;
  font-size: 15px;
  word-break: break-all;
}
.full-recipe .diet {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.full-recipe .diet span {
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  padding: 6px;
  border-radius: 5px;
  background-color: #f0d43a;
}
.full-recipe .servings-text {
  background-color: #22b2da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin-top: -5px;
}
.full-recipe .index {
  border-radius: 5px;
  background: white;
  padding: 30px;
  font-size: 15px;
  margin-top: 25px;
}
.full-recipe .index ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.full-recipe .summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 5px;
  background: white;
  opacity: 0.8;
  padding: 20px;
  font-size: 20px;
}
.full-recipe .button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: lightgreen;
  font-family: "Happy Monkey", sans-serif;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
}
.full-recipe .button:hover {
  color: #fff;
}
.full-recipe .button:active {
  background-color: rgb(98, 188, 98);
  color: #000;
}
.full-recipe .divider {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2274509804);
}

.ingredients {
  padding: 10px;
  width: 80%;
  background-color: #3b4a6b;
  color: #f0d43a;
  opacity: 0.8;
  border-radius: 5px;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  font-size: 15px;
  list-style: none;
}
.ingredient-list .checking {
  display: flex;
}
.ingredient-list .unchecked {
  text-decoration: line-through;
}
.ingredient-list input[type=checkbox] {
  transform: scale(1.5);
  -webkit-transform: scale(1.5); /* Supporto per Safari */
  -moz-transform: scale(1.5); /* Supporto per Firefox */
  -ms-transform: scale(1.5); /* Supporto per IE */
  -o-transform: scale(1.5); /* Supporto per Opera */
  margin: 10px; /* Per compensare l'aumento delle dimensioni */
}

.instructions {
  width: 80%;
  background-color: #f0d43a;
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.instructions ol {
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
}
.instructions ol li {
  margin-bottom: 20px;
  margin-top: 20px;
}

.up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  border: none;
  background-color: #f0d43a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner .spinner-icon {
  font-size: 50px;
  color: #f0d43a;
}

@media only screen and (min-width: 768px) {
  .full-recipe {
    width: 70%;
  }
}