.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
  background-color: black;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px); /* effetto vetro satinato */

  .logo {
    width: 80px;
    display: block;
    margin-left: 20px;
  }

  .logo-laptop {
    position: absolute;
    top: 0;
    left: 20px;
    width: 80px;
  }

  .ham-button {
    position: absolute;
    top: 24px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    background-color: #7ed957;
    width: 35px;
    height: 35px;

    .ham {
      height: 18px;
      color: white;
    }

    &:hover {
      background-color: #f0f0f0; /* Cambia il colore di sfondo al passaggio del mouse */

      .ham {
        color: #333;
      }
    }

    &:active {
      background-color: #e0e0e0; /* Colore di sfondo quando il bottone è premuto */
    }
  }

  .navbar-open {
    position: absolute;
    top: 80px;
    right: 50%;
    transform: translateX(50%);
    width: 50%;
    min-width: 300px;
    max-width: 300px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7ed957;
    z-index: 999;
    border-radius: 10px;

    .list {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;
      line-height: 2;

      a {
        text-decoration: none;
        color: inherit;
        width: 100%;
      }

      li {
        width: 150px;
        padding: 10px;
        text-align: center;
        color: #111;
        background-color: transparent;
        font-family: "Happy Monkey", sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          color: #fff;
          transform: translateY(-2px);
          box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
        }

        &:active {
          transform: translateY(0);
          box-shadow: none;
        }
      }
    }

    .closing-button {
      position: absolute;
      top: 10px;
      right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      background-color: #ffffff00;

      .close {
        height: 18px;
      }
    }
  }

  .navbar-close {
    display: none;
  }

  .menu-laptop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header .navbar-main {
    display: none;
  }

  .header .logo {
    display: none;
  }

  .header .menu-laptop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: black;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
    z-index: 999;

    ul {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      width: 150px;
      padding: 10px;
      text-align: center;
      color: white;
      background-color: transparent;
      font-family: "Happy Monkey", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      border: 1px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    li:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
      transform: translateY(-2px);
      box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
    }

    li:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }
}
