@charset "UTF-8";
.header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2588235294);
  box-shadow: 0px 0px 10px black;
}
.header .logo {
  width: 100px;
  display: block;
  margin-right: 20px;
}
.header .ham-button {
  position: absolute;
  top: 32px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  background-color: #333;
  width: 35px;
  height: 35px;
  transition: background-color 0.3s, transform 0.1s; /* Aggiungi una transizione fluida per gli effetti */
}
.header .ham-button .ham {
  height: 18px;
  color: white;
}
.header .ham-button:hover {
  background-color: #f0f0f0; /* Cambia il colore di sfondo al passaggio del mouse */
  transform: scale(1.1); /* Ingrandisce leggermente il bottone */
}
.header .ham-button:hover .ham {
  color: #333;
}
.header .ham-button:active {
  background-color: #e0e0e0; /* Colore di sfondo quando il bottone è premuto */
  transform: scale(1); /* Ripristina la dimensione originale */
}
.header .navbar-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  min-width: 300px;
  max-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.9411764706);
  z-index: 999;
}
.header .navbar-open .list {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  list-style: none;
  padding: 0;
  line-height: 3;
  margin-top: 70px;
}
.header .navbar-open .list li {
  border-bottom: 1px solid black;
}
.header .navbar-open .list li a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}
.header .navbar-open .closing-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.header .navbar-open .closing-button .close {
  height: 35px;
}
.header .navbar-close {
  display: none;
}
.header .menu-laptop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header .navbar-main {
    display: none;
  }
  .header .menu-laptop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  .header .menu-laptop button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-family: "Happy Monkey", sans-serif;
    font-size: 15px;
    cursor: pointer;
  }
  .header .menu-laptop button:hover {
    color: #000;
    background-color: #fff;
    transform: scale(1.1);
  }
  .header .menu-laptop button:active {
    background-color: #e0e0e0;
    transform: scale(1);
  }
}